<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>
<nav>
    <b><a href="/">Home</a></b>&nbsp&nbsp;
    <b><a href="/about">About</a></b>&nbsp&nbsp;
    <b><a href="/articles">Articles</a></b>&nbsp&nbsp;
    <b><a href="/categories">Categories</a></b>&nbsp&nbsp;
    <b><a href="/articles/add">Add Article</a></b>&nbsp;&nbsp;
</nav>
<body>

    <header>
        <h1><%= article.title %></h1>
        <p>Category: <%= article.category %></p>
        <p>Published on: <%= article.articleDate %></p>
    </header>
    <main>
        <!-- Feature image is displayed only if it exists -->
        <% if (article.featureImage) { %>
            <img src="<%= article.featureImage %>" alt="<%= article.title %>">
        <% } %>
        <p><%= article.content %></p>
    </main>

        <footer>
            <small> BHARGAVKUMAR SENJALIYA - 151964228 - bjsenjaliya@myseneca.ca  </small>
        </footer>

    </main>

</body>
</html>